{% extends 'base.html.twig' %}
{% form_theme commentForm 'bootstrap_4_layout.html.twig' %}

{% block title %}Post Show{% endblock %}

{% block body %}
    <style>
        .post{
            border-radius: 10px;
            box-shadow: 0 10px 16px rgba(0, 0, 0, .25);
            margin-bottom: 40;
            margin-top: 40px;
            padding: 40px;
        }
        img{
            border-radius: 10px;
        }
    </style>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-5 text-center">
            {{ message }}
        </div>
    {% endfor %}

    <section class="post">
        <article>
            <h2>{{ post.title }}</h2>
            <div class="metadat">
                {{ post.createdAt | date('Y-m-d')}} at {{ post.createdAt | date('H:i') }} by John
                <span class="badge bg-success">{{ post.category.title }}</span>
                {{ post.comments | length  }} {{ (post.comments | length <= 1) ? 'comment' : 'comments' }}
            </div>
            <div class="content">
                {% if post.imageName %}
                    <img src="{{ vich_uploader_asset(post, 'imageFile') }}" width="300" height="200" alt="" class="mt-3 mb-3">
                {% else %}
                    <img src="https://picsum.photos/seed/picsum/300/200" alt="" class="mt-3 mb-3">
                {% endif %}
                <p>{{ post.content }}</p>
                {% if app.user == post.author %}
                    <a href="{{ path('post_edit', {'id': post.id}) }}">Edit the post</a>
                {% endif %}
            </div>
        </article>
    </section>

    <h2 class="mt-5">{{ post.comments | length  }} {{ (post.comments | length <= 1) ? 'comment' : 'comments' }}</h2>
    <section class="mt-5">
        {% for comment in post.comments %}
            <div class="card-header">
                {{ comment.author}} <small> {{ comment.createdAt | date('Y-m-d')}} at {{ comment.createdAt | date('H:i') }}</small>
            </div>
            <div class="card-body">
                <p>{{ comment.content }}</p>
            </div>
        {% endfor %}
    </section>

    <hr>

   {% if app.user %}
       <h2>Add Comment</h2>
       {{ form_start(commentForm) }}
       {{ form_widget(commentForm) }}
       <button class="btn btn-success mt-5">Add a comment</button>
       {{ form_end(commentForm) }}
    {% endif %}

{% endblock %}

